@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    background: #ff8273;
}


body {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    color: #1c1710;
}

#home-image {
    background: url('../images/tea-1.jpeg') no-repeat center center;
    width: 100%;
    height: 400px;
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes image-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

#image-outer {
    
    overflow: hidden;
}

#menu-image {
    background: url(../images/m5.jpg) no-repeat center center;
    overflow: hidden;
    
}

#feedback-image {
    background: url(../images/f5.jpg) no-repeat center center;
    overflow: hidden;
    
}

/* Headings & Logo */

h1,
h2 {
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b20084;
}

#truck-logo {
    font-family: 'El Messiri', sans-serif;
    float: left;
    line-height: 50px;
    color: #1c1710;
}

#nav-list {
    font-size: 2rem;
    text-align: right;
}

#nav-list>li {

    display: inline;
    list-style-type: none;
    margin-right: 40px;
    
}

#nav-list a {
    text-decoration: none;
    color: inherit;
    line-height: 50px;

}

#nav-list a:hover {
    border-bottom: 1px solid #1b1b1b;
}

.active {
    border-bottom: 1px solid #1b1b1b;
}

/* Footer */

#social-links {
    text-align: center;
    background: #ff8273;
    font-size: 2.5rem;
    margin: auto; 
}

 #social-links>li {
    display: inline;
    letter-spacing: 30px;
    
}

#social-links i {
  color: #1b1b1b;
} 

#introduction {
    
    font-size: 2rem;
    padding: 40px;
    text-align: justify;
    letter-spacing: 2px;
}

#intro-park, #intro-discount {

    margin: 10px auto;
    
}

#intro-discount i, #intro-park i {
    font-size: 3rem;
}


.menu {
    margin: 10px;
    height: 500px;
    font-size: 135%;
    letter-spacing: 2px;
}

.menu>h2 {
    text-align: center;
}

#tea-items,
#snacks-items {

    display: block;
    height: 200px;
    width: 800px;
    margin: 20px 0 20px 220px;
    padding: 10px 10px 10px 10px;
    border: #1b1b1b dashed 2px;
    letter-spacing: 2px;
}


#tea-items li {
    list-style: none;
    text-align: center;
}

#snacks-items li {
    text-align: center;
    list-style: none;
}

#location-timings {

    text-align: center;
    margin: 10px;
    padding: 70px 0 0 0;
    letter-spacing: 2px;
    font-size: 135%;
}

#tea-pic {
    float: left;
    height: 200px;
    width: 300px;
}

#snack-pic {
    float: right;
    height: 200px;
    width: 300px;

}

.form-section,
#contact {

    font-size: 135%;
    letter-spacing: 2px;
    margin: 10px;
    padding: 20px 20px 20px 20px;

}

.form-input {
    margin: 0 0 0 50px;

}


#comments {
    width: 400px;
    height: 25px;
    margin: 10px 10px 10px 10px;
    border: #1c1710 solid 2px;
}

#form-submit {
    width: 75px;
    height: 30px;
    border-radius: 20%;
    text-transform: uppercase;
    background-color: #b20084;
    color: white;
}

@media screen and (max-width:1200px) {
    #introduction {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
}   

@media screen and (max-width:950px) {
    .nav-list {
        float: left;
        clear: left;
        line-height: 20px;
        margin-bottom: 25px;
        margin-left: 25px;
    }

    #introduction {
        width: 90%;
        
        margin: 20px auto;
    }

    .menu {
        width: 80%;
        padding: 0;
        height: 950px;
        text-align: center;
        
    }

    #tea-items, #snacks-items {
        border-style: none;
        width: 90%;
        
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        padding: 0;
        clear: both;
    }

#labels {
    width: 70%;
    height: 950px;
    margin: 0 auto;   
}
    
}