@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    color: #1b1b1b;
}

#home-image {
    background: url(../images/tea-1.jpeg) no-repeat center center;
    width: 100%;
    height: 600px;
}

#image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/* Headings & Logo */

h1,
h2 {
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b20084;
}

#truck-logo {
    font-family: 'El Messiri', sans-serif;
    float: left;
    line-height: 50px;
}

.nav-list {
    font-size: 110%;
    text-align: right;
}

.nav-list > li {

    display: inline;
    list-style-type: none;
    margin-right: 40px;
    font-size: 150%;
}

.nav-list a {
    text-decoration: none;
    color: inherit;
    line-height: 50px;

}

.nav-list a:hover {
    border-bottom: 1px solid #1b1b1b;
}

.active {
    border-bottom: 1px solid #1b1b1b;
}

/* Footer */

.social-links {
    text-align: center;
    height: 200px;
}

.social-links > li {
    display: inline;
}

.social-links i {
    margin: 1.5%;
    padding: 10%;
    font-size: 200%;
    color: #1b1b1b;
}

#introduction {
    font-size: 135%;
    margin: 10px;
    padding: 20px 0 20px 0;
    text-align: justify;
}